{
    "ghoste" : 1,
    "tetrominos" : [
        {
            "shape" : {
                "rows" : 4,
                "0" : [0, 0, 0, 0],
                "1" : [1, 1, 1, 1],
                "2" : [0, 0, 0, 0],
                "3" : [0, 0, 0, 0]
            },
            "color" : [0.6, 0.2, 0.3, 1.0],
            "frequency" : 9
        },
        {
            "shape" : {
                "rows" : 2,
                "0" : [1, 1],
                "1" : [1, 1]
            },
            "color" : [0.7, 0.1, 0.0, 1.0],
            "frequency" : 1
        },
        {
            "shape" : {
                "rows" : 3,
                "0" : [0, 1, 0],
                "1" : [1, 1, 1],
                "2" : [0, 0, 0]
            },
            "color" : [0.1, 0.3, 0.6, 1.0],
            "frequency" : 8
        },
        {
            "shape" : {
                "rows" : 3,
                "0" : [0, 1, 1],
                "1" : [1, 1, 0],
                "2" : [0, 0, 0]
            },
            "color" : [0.7, 0.7, 0.2, 1.0],
            "frequency" : 6
        },
        {
            "shape" : {
                "rows" : 3,
                "0" : [1, 1, 0],
                "1" : [0, 1, 1],
                "2" : [0, 0, 0]
            },
            "color" : [0.0, 0.7, 0.1, 1.0],
            "frequency" : 2
        },
        {
            "shape" : {
                "rows" : 3,
                "0" : [1, 0, 0],
                "1" : [1, 1, 1],
                "2" : [0, 0, 0]
            },
            "color" : [0.4, 0.4, 0.9, 1.0],
            "frequency" : 7
        },
        {
            "shape" : {
                "rows" : 3,
                "0" : [0, 0, 1],
                "1" : [1, 1, 1],
                "2" : [0, 0, 0]
            },
            "color" : [0.3, 0.2, 0.7, 1.0],
            "frequency" : 3
        }
    ]
}